USE [master]
GO
/****** Object:  Database [crmDB]    Script Date: 23.07.2025 23:14:23 ******/
CREATE DATABASE [crmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crmDB', FILENAME = N'D:\sql 2022\MSSQL16.SQLEXPRESS02\MSSQL\DATA\crmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crmDB_log', FILENAME = N'D:\sql 2022\MSSQL16.SQLEXPRESS02\MSSQL\DATA\crmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crmDB]
GO
/****** Object:  Table [dbo].[Etiketler]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiketler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firsatlar]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firsatlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[Baslik] [nvarchar](100) NULL,
	[TahminiGelir] [decimal](10, 2) NULL,
	[Tarih] [date] NULL,
	[SilindiMi] [bit] NULL,
	[Asama] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gorevler]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorevler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[KisiID] [int] NULL,
	[SorumluKullaniciID] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[SonTarih] [date] NULL,
	[Durum] [nvarchar](20) NULL,
	[SilindiMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemLogs]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[KullaniciAd] [nvarchar](100) NOT NULL,
	[MusteriId] [int] NULL,
	[Islem] [nvarchar](255) NULL,
	[Tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Gorev] [nvarchar](50) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Eposta] [nvarchar](100) NULL,
	[SilindiMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Eposta] [nvarchar](100) NULL,
	[SifreHash] [nvarchar](255) NULL,
	[Rol] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriEtiketler]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriEtiketler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[EtiketID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Eposta] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Adres] [nvarchar](255) NULL,
	[KayitTarihi] [datetime] NULL,
	[SilindiMi] [bit] NULL,
	[KullaniciId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 23.07.2025 23:14:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[KisiID] [int] NULL,
	[Baslik] [nvarchar](100) NULL,
	[Icerik] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
	[SilindiMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Firsatlar] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[Gorevler] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[IslemLogs] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Kisiler] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[Notlar] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[Firsatlar]  WITH NOCHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[Gorevler]  WITH NOCHECK ADD FOREIGN KEY([KisiID])
REFERENCES [dbo].[Kisiler] ([ID])
GO
ALTER TABLE [dbo].[Gorevler]  WITH NOCHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[Gorevler]  WITH NOCHECK ADD FOREIGN KEY([SorumluKullaniciID])
REFERENCES [dbo].[Kullanicilar] ([ID])
GO
ALTER TABLE [dbo].[IslemLogs]  WITH CHECK ADD  CONSTRAINT [FK_IslemLogs_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[IslemLogs] CHECK CONSTRAINT [FK_IslemLogs_Musteriler]
GO
ALTER TABLE [dbo].[Kisiler]  WITH NOCHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[MusteriEtiketler]  WITH CHECK ADD FOREIGN KEY([EtiketID])
REFERENCES [dbo].[Etiketler] ([ID])
GO
ALTER TABLE [dbo].[MusteriEtiketler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[Notlar]  WITH NOCHECK ADD FOREIGN KEY([KisiID])
REFERENCES [dbo].[Kisiler] ([ID])
GO
ALTER TABLE [dbo].[Notlar]  WITH NOCHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
USE [master]
GO
